name: BRAHMAAX Recorder

on:
  workflow_dispatch:
  schedule:
    - cron: '*/15 * * * *'

jobs:
  record:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - run: pip install requests

      - run: python recorder.py

      - run: |
          git config --global user.name "brahmaax"
          git config --global user.email "brahmaax@github.com"
          git add brahmaax_candles.csv
          git commit -m "Auto record" || echo "No changes"
          git push
